/*allsort*/
#allsort{overflow:visible;}
#allsort .mt{height:28px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;}
#allsort h2{float:left;width:121px;height:28px;padding:0 10px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -100px;color:#fff;line-height:28px;}
#allsort .mt a:link,#allsort .mt a:visited{color:#fff;}
#allsort .mt .extra{float:right;width:100px;height:28px;padding-right:10px;background:url(/assets/i/bg_tit_home.gif) no-repeat right -156px;text-align:right;line-height:28px;}
#allsort .mt .extra a:link,#allsort .mt .extra a:visited{color:#999;}
#allsort .mc{width:764px;overflow:visible;padding:2px 0 3px;border:solid #C40000;border-width:0 1px 1px;background:#FFFFF5;}
#allsort h3{padding:4px 8px;}
#allsort h3 a:link,#allsort h3 a:visited{color:#c00;}
#allsort .item{padding-left:5px;height:25px;}
#allsort span{height:20px;padding:5px 1px 2px 8px;line-height:20px;}
#allsort h4{float:left;font-size:12px;font-weight:normal;}
#allsort ins{float:left;padding-right:8px;font-style:normal;text-decoration:none;color:#999;}
#allsort .item:hover,#allsort .hover{position:relative;z-index:11;}

/*sx 2010-06-09 16:15:08*/
#allsort .purchaselink{ text-align:center;} 
#allsort .blocks{padding-left:5px;height:100px;}

/*purchaselist   sx 2010-06-09 16:15:16*/
#purchaselist{ text-align:center;}
#purchaselist .listtitle{ background-color:#DDDDDD;}

/*popularity*/


/*madding*/
#madding .mt{height:28px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;}
#madding h2{float:left;width:121px;height:28px;padding:0 10px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -100px;color:#fff;line-height:28px;}
#madding h2 span{margin-left:4px;font-size:11px;font-weight:normal;color:#FFA9A9;font-family:arial;}
#madding .mt .extra{float:right;width:20px;height:28px;background:url(/assets/i/bg_tit_home.gif) no-repeat -191px -156px;}
#madding-1 dl{width:235px;padding:0 10px;text-align:center;}
#madding-1 dt{position:relative;height:130px;zoom:1;}
#madding-1 .p-price{position:absolute;right:50px;height:14px;bottom:10px;padding:2px 5px;background:#f33;color:#fff;font-weight:bold;font-family:arial;line-height:14px;}
#madding-2{width:766px;margin-top:10px;border-top:1px solid #E2EBF4;}
#madding-2 dl{width:255px;}
#madding-2 dt,#madding-2 dd{padding:10px 8px;}
#madding-2 dt{height:50px;overflow:hidden;zoom:1;}
#madding-2 dt img{float:left;margin-right:8px;}
#madding-2 dt div{height:32px;margin:9px 0;line-height:16px;overflow:hidden;cursor:pointer;*padding-top:9px;}
#madding-2 dd{background:#F3F8FC;border-bottom:1px solid #E2EBF4;}
#madding-2 dd div{height:20px;line-height:20px;overflow:hidden;}

/*newpros*/
#newpros .mt{height:28px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;}
#newpros h2{float:left;width:121px;height:28px;padding:0 10px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -100px;color:#fff;line-height:28px;}
#newpros h2 span{margin-left:4px;font-size:11px;font-weight:normal;color:#FFA9A9;font-family:arial;}
#newpros .mt .extra{float:right;width:100px;height:28px;padding-right:10px;background:url(/assets/i/bg_tit_home.gif) no-repeat right -156px;text-align:right;line-height:28px;}
#newpros .mt .extra a:link,#newpros .mt .extra a:visited{color:#999;}
#newpros .mc{width:766px;height:164px;overflow:hidden;}
#newpros .mc ul{width:766px;overflow:hidden;}
#newpros li{width:235px;height:164px;padding:0 10px;text-align:center;}
#newpros .p-img{height:100px;}

/*brand*/
#brand{position:relative;overflow:visible;}
#brand .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;line-height:24px;overflow:visible;}
#brand h2{float:left;}
#brand .mt .extra{float:right;}
#brand .mc{border:solid #E6E6E6;border-width:0 1px 1px;}
#brand ul{overflow:hidden;width:201px;padding:0 0 8px 8px;zoom:1;}
#brand li{float:left;overflow:hidden;width:88px;height:31px;padding:1px;border:1px solid #efefef;margin:8px 8px 0 0;}
#brand li img{width:88px;height:31px;}
#brand .mc .extra{padding:5px 8px;text-align:right;}
#brand .mc .extra a{color:#005aa0;}
#ibrand{position:absolute;top:3px;right:10px;}
#ibrand div{display:none;position:absolute;left:-14px;top:0;z-index:12;}
#ibrand dl,#ibrand dt,#ibrand dd{width:315px;background-image:url(/assets/i/shadow20100415.gif);background-repeat:no-repeat;}
#ibrand dl{background-position:left bottom;}
#ibrand dt{position:relative;padding:0 4px 0 15px;margin-left:1px;overflow:hidden;height:6px;background-position:right -36px;}
#ibrand dd{position:relative;padding:0 5px 10px 0;margin-left:15px;overflow:hidden;background-position:right bottom;}
#ibrand dd em{float:left;overflow:hidden;width:90px;height:20px;line-height:20px;padding:0 5px 0 10px;background:url(/assets/i/shadow20100415.gif) no-repeat -489px -2px;}
#ibrand:hover div,#brand .hover div{display:block;}
*html #brand .mt .extra dl{overflow:hidden;}

/*slide*/
#slide{position:relative;width:766px;height:120px;margin-bottom:8px;background:url(/assets/i/loading.gif) #f5f5f5 no-repeat center 52px;overflow:hidden;}
#slide ul{position:absolute;top:0;left:0;width:766px;height:120px;}
#slide li{float:left;width:766px;height:120px;overflow:hidden;}
#slide div{position:absolute;float:right;bottom:4px;right:4px;height:20px;overflow:hidden;zoom:1;}
#slide span{width:14px;height:14px;border:1px solid #D00000;margin:2px 2px;background:#fff;float:left;text-align:center;line-height:14px;cursor:pointer;font-family:arial;}
#slide .curr{width:18px;height:18px;margin:0 2px;background:#FF0000;border:1px solid #D00000;line-height:18px;}
#slide span a:link,#slide span a:visited{text-decoration:none;color:#D00000;font-size:11px;}
#slide .curr a:link,#slide .curr a:visited{color:#fff;font-weight:bold;font-size:12px;}

/*report*/
#report .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;line-height:24px;}
#report h2{float:left;}
#report .mt a:link,#report .mt a:visited{color:#999;}
#report .mt .extra{float:right;}
#report .mc{border:solid #E6E6E6;border-width:0 1px 1px;}
#report ul{padding:6px;}
#report li{height:24px;line-height:24px;overflow:hidden;}

/*auction*/
#auction .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;line-height:24px;}
#auction h2{float:left;}
#auction .extra a{color:#999;}
#auction .mc{border:solid #E6E6E6;border-width:0 1px 1px;}
#auction ul{padding:9px 6px;}
#auction li{height:24px;line-height:24px;overflow:hidden;}
#auction .fore{height:50px;padding:5px 0 12px;line-height:1.5em;}
#auction .fore .p-img{float:left;margin-right:5px;}
#auction .p-img{height:50px;}
#auction .p-price{height:18px;margin-top:2px;}

/*#special*/
#special{height:28px;margin-bottom:10px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;}
#special h2{float:left;width:121px;height:28px;padding:0 8px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -100px;color:#fff;line-height:28px;}
#special h2 span{margin-left:4px;font-size:11px;font-weight:normal;color:#FFA9A9;font-family:arial;}
#special .extra{float:right;width:100px;height:28px;padding-right:10px;background:url(/assets/i/bg_tit_home.gif) no-repeat right -156px;text-align:right;line-height:28px;}
#special .extra a:link,#special .extra a:visited{color:#999;}
.special .mt{height:30px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -214px;line-height:30px;}
.special .mt h2{float:left;height:30px;padding-left:8px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -184px;color:#C00;}
.special .mt .extra{float:right;width:20px;height:30px;background:url(/assets/i/bg_tit_home.gif) no-repeat right -244px;}
.special .mc{width:763px;padding:0 0 0 1px;border:solid #E6E6E6;border-width:0 1px 1px;*padding-top:1px;}
.special li{width:234px;height:179px;padding:0 10px 5px;text-align:center;background:url(/assets/i/bg_tit_home.gif) repeat-x 0 -597px;}
.special .fore{background:none;}
.special .p-img{height:100px;}
.special .p-name{margin-bottom:5px;}

/*rank*/
.rank .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;line-height:24px;}
.rank .mt h2{height:30px;color:#C00;}
.rank .mc{padding:0 1px;border:solid #E6E6E6;border-width:0 1px 1px;}
.rank .tab{padding:6px 2px 0;height:19px;overflow:hidden;}
.rank .tab li{width:62px;height:17px;padding-top:2px;margin:0 2px;background:url(/assets/i/bg_tit_home.gif) no-repeat 0 -274px;text-align:center;line-height:17px;color:#999;}
.rank .tab .curr{background:url(/assets/i/bg_tit_home.gif) no-repeat -62px -274px;color:#c00;}
.rank .tab .curr a:link,.rank .tab .curr a:visited{color:#c00;}
.rank .tabcon li{float:left;width:197px;padding:6px 5px;border-top:1px solid #efefef;overflow:hidden;height:22px;line-height:22px;}
.rank .tabcon span{float:left;padding:0 8px 0 4px;font-size:14px;font-weight:bold;color:#C00;font-family:arial;}
.rank .tabcon .p-name{float:left;width:176px;height:22px;overflow:hidden;}
.rank .tabcon .fore{padding:10px 5px 10px;height:56px;border-top:1px solid #c00;}
.rank .tabcon .fore .p-img{float:left;height:50px;margin-right:5px;}
.rank .tabcon .fore .p-name{width:120px;height:3em;line-height:1.5em;}
.rank .tabcon .fore .p-price{float:left;height:18px;margin-top:2px;line-height:18px;}

/*comment*/
#comment .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;line-height:24px;}
#comment .mc{border:solid #E6E6E6;border-width:0 1px 1px;}
#comment ul{padding:0 8px;}
#comment li{padding:6px 0;border-top:1px solid #EFEFEF;overflow:hidden;zoom:1;}
#comment .fore{border-top:0;}
#comment h5{color:#FE9900;}
#comment h5 a{color:#005BA0;font-weight:normal;word-break:break-all;}
#comment .content{overflow:hidden;zoom:1;}
#comment .content img{float:left;margin:0 8px 1px 0;}
#comment .ammount{float:left;color:#12A000;}
#comment .user{float:right;}
#comment .user a{color:#005BA0;}

/*vote*/
#vote .mt{height:24px;padding:3px 8px;background:url(/assets/i/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;line-height:24px;}
#vote .mc{border:solid #E6E6E6;padding:8px;border-width:0 1px 1px;}
#vote .btns{overflow:hidden;zoom:1;padding-left:40px;}
#vote .btn-submit,#vote .btn-view{float:left;width:50px;height:22px;line-height:22px;text-align:center;background:url(/assets/i/bg_hotsale.gif) no-repeat 0 -632px;margin-right:5px;}
#vote .btn-submit{border:0;font-size:12px;}
#vote .btn-view{text-decoration:none;line-height:26px;overflow:hidden;}

/*jdzone*/
#jdzone{border:1px solid #E6E6E6;overflow:visible;}
#jdzone .mt{padding:5px 8px;}
#jdzone .mc{overflow:hidden;overflow:visible;}
#jdzone .mc .img{width:200px;height:198px;margin:4px auto 0;background:url(/assets/i/bg_tit_home.gif) #fff no-repeat 10px -300px;}
#jdzone .mc .content{position:relative;margin-top:-202px;width:201px;padding:0 0 0 8px;overflow:hidden;}
#jdzone span{float:left;width:30px;height:20px;margin-right:10px;padding:1px 0;text-align:center;line-height:20px;}
#jdzone span a{color:#005AB0;}
#jdzone .l3{width:45px;}
#jdzone .mb{padding:5px 8px;}

/*promotion*/
.pi1,.pi2,.pi3,.pi4,.pi5,.pi6,.pi7,.pi8,.pi9,.pi10{position:absolute;width:54px;height:60px;top:0;right:0;background-image:url(/assets/i/icon_promotion.gif);background-repeat:no-repeat;}
.pi1{background-position:0 0;}
.pi2{background-position:-54px 0;}
.pi3{background-position:-108px 0;}
.pi4{background-position:0 -60px;}
.pi5{background-position:-54px -60px;}
.pi6{background-position:-108px -60px;}
.pi7{background-position:0 -120px;}
.pi8{background-position:-54px -120px;}
.pi9{background-position:-162px 0;}
.pi10{background-position:-162px -60px;}