<!--middle begin-->
<div class="middle">

  <div class="m" id="select">
    <div class="mt"><h1>电脑产品：</h1><strong>&nbsp;-&nbsp;商品查找</strong></div>
    <dl ><dt>名字 ：</dt><dd><div><%=  %></div><div><a id="4225" href='' >1-99</a></div>
        <div><a id="4226" href='' >100-299</a></div><div><a id="4227" href='' >300-599</a></div><div><a id="4228" href='' >600-999</a></div>
        <div><a id="4229" href='' >1000-1999</a></div><div><a id="4230" href='' >2000以上</a></div></dd></dl>
  </div><!--select end -->

  <div id="filter">
    <div class="fore item">排序：</div>
    <ul class="item tab">
      <li class='curr'><a href="">销量</a><span></span></li><li  ><b></b><a href="">价格</a><span></span></li>
      <li ><a href="">好评度</a><span></span></li><li ><a href="">上架时间</a><span></span></li>
    </ul>
    <div id="storeinfo" class="item hide">显示北京库存</div>

    <span class="clr"></span><ul class="extra"><li><span>共<strong>428</strong>个商品</span></li></ul>
  </div><!--filter end-->

  <div class="m" id="plist">
    <ul class="list-h">
      <li>
        <div class='p-img'><a href="show.html"><img src='0f53aeb1.jpg' width="160" height="160"/></a></div>
        <div class='p-name'><a href=''>爱国者（Aigo）<font style='color:#ff0000' class='adwords' name='157699'></font></a></div>
        <div class='p-price'><del>￥699.00</del><img src="search_files/P8333B35.png"></div>
        <div class='stocklist' name='8333B355E841A422AE0F81891CAC47DF'></div>
        <div class='extra'>
          <span class='evaluate'><a href="show.html">已有136人评价</a></span>
          <span class='reputation'>(91%好评)</span>
          <span id='p157699'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>

      <li>
        <div class='p-img'><a href="show.html"><img src='0f53aeb1.jpg' width="160" height="160"/></a>
          <div class='pi3'></div></div>
        <div class='p-name'><a target='_blank' href=''>昂达<font style='color:#ff0000' class='adwords' name='219727'></font></a></div>
        <div class='p-price'><del>￥499.00</del><img src="search_files/PD766FFB.png"></div>
        <div class='stocklist' name='D766FFBCEAE238230434A0CE5BA47DB6'></div>
        <div class='extra'>
          <span class='evaluate'><a href=''>已有58人评价</a></span>
          <span class='reputation'>(93%好评)</span>
          <span id='p219727'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>

      <li>
        <div class='p-img'><a href="show.html"><img src='0f53aeb1.jpg' width="160" height="160" /></a></div>

        <div class='p-name'><a href="show.html">台电<font style='color:#ff0000' class='adwords' name='221950'></font></a></div>
        <div class='p-price'><del>￥359.00</del><img src="search_files/P3900B17.png"></div>
        <div class='stocklist' name=''></div>
        <div class='extra'>
          <span class='evaluate'><a href="show.html">已有297人评价</a></span>
          <span class='reputation'>(94%好评)</span>
          <span id='p221950'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>

      <li>
        <div class='p-img'><a href="show.html"><img src='0f53aeb1.jpg' width="160" height="160" /></a></div>
        <div class='p-name'><a href="show.html">苹果（<font style='color:#ff0000' class='adwords' name='177151'></font></a></div>
        <div class='p-price'><del>￥448.00</del><img src="search_files/PE7BE651.png"></div>
        <div class='stocklist' name='E7BE651987D8C0BDB549331E4AF80177'></div>
        <div class='extra'>
          <span class='evaluate'><a href="show.html">已有352人评价</a></span>
          <span class='reputation'>(98%好评)</span>
          <span id='p177151'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>

      <li>
        <div class='p-img'><a href="show.html"><img src='0f53aeb1.jpg' width="160" height="160" /></a></div>
        <div class='p-name'><a href="show.html">苹果色）<font style='color:#ff0000' class='adwords' name='177296'></font></a></div>
        <div class='p-price'><del>￥1448.00</del><img src="search_files/PF421186.png"></div>
        <div class='stocklist' name='F421183F75633E0EE68366E13B4BE813'></div>
        <div class='extra'>
          <span class='evaluate'><a href="show.html">已有97人评价</a></span>
          <span class='reputation'>(100%好评)</span>
          <span id='p177296'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>

      <li>
        <div class='p-img'><a href="show.html">><img src='0f53aeb1.jpg' width="160" height="160" /></a></div>
        <div class='p-name'><a href="show.html">苹果<font style='color:#ff0000' class='adwords' name='177173'></font></a></div>
        <div class='p-price'><del>￥3198.00</del><img src="search_files/P5375ABD.png"></div>
        <div class='stocklist' name='5375ABB1AF7359013A3D74F23D0986B0'></div>
        <div class='extra'>
          <span class='evaluate'><a href="show.html">已有57人评价</a></span>
          <span class='reputation'>(98%好评)</span>
          <span id='p177173'></span>
        </div>
        <div class='btns'><a href='cart.html' class='btn-buy'>购买</a></div>
      </li>
    </ul>
  </div><!--plist end-->